# Archivos de la máquina virtual Java
*.class
*.jar
*.war
*.ear

# Directorios de compilación/salida
/bin/
/out/
/target/
/build/

# Archivos de IDE (ejemplos)
.idea/
.project
.classpath
.settings/
*.iml

# Logs
*.log